* {
  /* font-family: "Inter", sans-serif; */
  font-family: "Rubik", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #f6f0c4; */
}
html {
  font-size: 62.5%;
}
body {
  color: #6a737d;
  background-color: #fafbfc;
  
}
.container .scroller-list .card img {
  filter: grayscale(80%) brightness(40%);
}


















.scroller {
  display: flex;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.scroller-list {
  display: flex;
  animation: scroll 20s linear infinite;
}

.card {
  width: 300px;
  height: 80px;
  background-color: #ffffff0d;
  border-radius: 0px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes scroll {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}
#new {
  padding-left: 50px;
  padding-right: 50px;
}
header {
  max-width: 135rem;
  margin: 0 auto;
  display: flex;
  padding: 1.5rem 2.5rem;
  align-items: center;
  justify-content: space-between;
}
.header-container {
  border-bottom: rgba(153, 153, 153, 0.498) solid 1px;
}
.nav-content {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.nav-button {
  border: rgba(153, 153, 153, 0.516) solid 0.1rem;
  border-radius: 1rem;
  padding: 0.7rem 2rem;
  font-size: 1.5rem;
  color: rgba(85, 85, 85, 0.847);
  transition: 0.3s;
  cursor: pointer;
  background-color: #ffffff;
}
.nav-button:hover {
  background-color: rgba(128, 128, 128, 0.096);
}
nav {
  display: flex;
  gap: 1rem;
}
.nav-links:link,
.nav-links:visited {
  text-decoration: none;
  color: #555;
  font-size: 1.5rem;
  padding: 0.7rem 2rem;
  border-radius: 1.2rem;
  transition: background-image 20s;
}
.nav-links:hover,
.nav-links:active {
  background-image: linear-gradient(
    to right,
    #d99ec9,
    rgba(128, 128, 128, 0.445),
    #f6f0c4
  );
  color: #555;
}
.hero-section {
  background-image: url(main.png);
  overflow: hidden;
  background-position: center;
  background-size: cover;
}
.container {
  margin: 0 auto;
  max-width: 135rem;
}
.main-subject {
  max-width: 62rem;
}
.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20rem;
  position: relative;
}
h1 {
  margin-bottom: 4rem;
  letter-spacing: -0.1rem;
  line-height: 1;
  font-size: 6.5rem;
  color: #333;
  font-weight: 800;
}
.center {
  text-align: center;
}
.paragraph-primary {
  font-size: 2rem;
  margin-bottom: 5rem;
  line-height: 1.4;
}
.hero-paragraph {
  max-width: 80rem;
}
.hero-button {
  display: flex;
  gap: 2rem;
}
.btn {
  background-color: #ffffff;
  padding: 1.2rem 2.2rem;
  border-radius: 0.8rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}
.hero-button1 {
  font-size: 1.7rem;
  background-color: #155bd5;
  color: #ffffff;
}
.hero-button1:hover {
  background-color: #10449e;
}
.hero-button2 {
  font-size: 1.7rem;
  background-color: #ffffff;
  color: #555;
}
.hero-button2:hover {
  background-color: rgba(153, 153, 153, 0.831);
  color: white;
}
.mover-buttons {
  /* background-color: #ffffff; */
  position: absolute;
  height: 5.5rem;
}
.rater-button {
  background-color: #ffffff;
}
.mover-buttons1 {
  top: 10%;
  left: 12%;
}
.mover-buttons2 {
  bottom: 10%;
  left: 12%;
}
.mover-buttons3 {
  top: 10%;
  right: 12%;
}
.mover-buttons4 {
  bottom: 10%;
  right: 12%;
}
.flex1 {
}
.grid7 {
  margin-top: -7rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  position: relative;
  max-height: 70rem;
}
.flex-images {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 1rem;
  /* overflow: hidden; */
}
.grid7:hover .flex-image {
  transform: translateY(-70%);
}
.flex-image {
  transition: all 1s;
  /* width: 33%; */
  width: 100%;
  border-radius: 1rem;
  /* overflow: hidden; */
}
.flex-images:hover {
  /* position: absolute; */
}
.flex-images1 {
  transform: translateY(+35%);
}
.flex-images2 {
  transform: translateY(+26%);
}
.flex-images3 {
  transform: translateY(+35%);
}
.flex-images4 {
  transform: translateY(+17%);
}
.flex-images5 {
  transform: translateY(+35%);
}
.flex-images6 {
  transform: translateY(+26%);
}
.flex-images7 {
  transform: translateY(+35%);
}

/* company-logos */
.upper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.upper-first {
  height: 0.05rem;
  width: 44%;
  background-color: #6a737d61;
}
.upper-first-down {
  height: 0.05rem;
  width: 100%;
  background-color: #6a737d61;
}
.center-first {
  font-size: 1.5rem;
  align-self: center;
  flex-basis: 60rem;
  color: #6a737d;
}
.center {
  text-align: center;
}
.company-logos {
  padding: 9.6rem 0rem;
}
.companies-logo {
  width: 100%;
}
.company {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding: 4rem 1rem;
  gap: 2rem;
}
/* UI/UX */
.UIUX {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
.uixu-text-box {
  max-width: 60rem;
}
.heading-secondary {
  color: #333;
  font-weight: 700;
  font-size: 4.4rem;
}
.uixu-text-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
.grid3-1::before,
.grid3-2::before,
.grid3-3::before {
  content: "";
  background-image: url(https://uploads-ssl.webflow.com/62259a0fd25200e36c368b9f/6228793c678b185a3a43f9a9_tool.svg);
  position: absolute;
  top: 39.5%;
  left: 11%;
  /* width: rem; */
  padding: 2rem;
}
.uixu-text-box {
  max-width: 94rem;
}
.allparagraph {
  font-size: 2rem;
  word-spacing: 00.05rem;
  line-height: 1.4;
}
.miniallparagraph {
  font-size: 1.6rem;
  line-height: 1.4;
  word-spacing: 00.05rem;
}
span {
  font-size: 1.5rem;
  word-spacing: 00.05rem;
}
.grid3 {
  gap: 3rem;
  display: grid;
  /* align-items: center; */
  grid-template-columns: 1fr 1fr 1fr;

  /* justify-content: space-between; */
}
.grid3-2,
.grid3-1,
.grid3-3 {
  position: relative;
  overflow: hidden;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: solid 0.05rem #6a737d61;
}
.rate-section {
  display: flex;
  border-radius: 1.2rem;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem;
  background-color: #ffffff;
}
.grid3-2image,
.grid3-1image,
.grid3-3image {
  width: 100%;
}
.heading-tertiary {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
}
.rater {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  position: relative;
}
.rater-icon {
  color: rgb(255, 255, 19);
  width: 2rem;
  height: 2rem;
}
.rater-buttoms1,
.rater-buttoms2,
.rater-buttoms3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rater-buttoms1 {
  padding-top: 2rem;
}
.rater-buttoms2,
.rater-buttoms3 {
  padding-top: 4.5rem;
}
.rater-button {
  background-color: #ffffff;
  border: solid 0.05rem #6a737d61;
  background: none;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: all 0.3s;
}
.rater-button:hover {
  background-color: rgba(153, 153, 153, 0.292);
}
.rater-price {
  font-size: 2.7rem;
  color: #333;
  font-weight: 700;
}
/* section logo */
.section-icon {
  padding: 8rem 0rem;
}
.gridicons3-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3rem;
}
.zero {
  grid-row: 1/2;
  grid-column: 1/3;
  margin-bottom: 5rem;
}
.unknown {
  grid-row: 1/2;
  grid-column: 3/-1;
}
.marginbottom {
  margin-bottom: 2rem;
}
h4 {
  font-size: 2.1rem;
  font-weight: 600;
  color: #333;
}
.ionicon {
  padding: 1rem;
  box-shadow: 0 0 1rem 0 rgba(153, 153, 153, 0.281);
  color: #155bd5;
  background-color: #ffffff;
  border-radius: 0.8rem;
  width: 4rem;
  height: 4rem;
}
.icon-paragraph {
  font-size: 1.7rem;
  word-spacing: 00.05rem;
  line-height: 1.4;
}
.my {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.2rem;
}
/* section-package */
.section-package {
  padding: 8rem 0rem;
}
.package {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 4rem;
  row-gap: 10rem;
}
.packageimage-box {
  width: 100%;
  border-radius: 0.8rem;
}
.font {
  font-size: 3.5rem;
  letter-spacing: -0.5px;
  line-height: 1.2;
}
.packagetext-box {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 3.8rem;
}
.icon-leftside {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.fontsmall {
  font-size: 1.5rem;
}
h5 {
  color: rgba(68, 68, 68, 0.886);
  font-size: 1.7rem;
}
.star-outline {
  padding: 1rem;
  box-shadow: 0 0 1rem 0 rgba(153, 153, 153, 0.281);
  color: #155bd5;
  background-color: #ffffff;
  border-radius: 0.8rem;
  width: 3.5rem;
  height: 3.5rem;
}
.self {
  align-self: flex-start;
}
.icon-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.7rem;
}
.spacer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.star-outline,
.ionicon {
  border: solid 0.05rem #6a737d70;
}
.coming {
  padding: 0.4rem;
  border-radius: 1.2rem;
  color: #15803d;
  background-color: #d3f9d8;
}
.hi {
  position: relative;
}
.h {
  position: absolute;
  background-color: #d3f9d8;
  color: #15803d;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1.5rem;
  top: -26%;
  left: 25%;
}
/* section-student */
.section-student {
  padding: 8rem 0;
}
.student-testimonial {
  margin-bottom: 10rem;
}
.student-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}
.student-heading1 {
  max-width: 100rem;
  /* width: 100%; */
}
.kya {
  font-weight: 550;
  position: absolute;
  top: -14%;
  left: 35%;
}
.flexlower {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.faces {
  border-radius: 100rem;
  width: 8rem;
}
.cases {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.upper,
.lower {
  font-size: 2rem;
}
.upper {
  color: #333;
  font-weight: 450;
}
.lower {
  color: #6a737d;
}
.padder {
  padding: 2rem 2.5rem;
  border: solid 0.05rem #6a737d70;
  border-radius: 1.2rem;
  box-shadow: 0 0 1rem rgba(153, 153, 153, 0.141);
  gap: 3rem;
}
.flex1,
.flex2,
.flex3 {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.flex1 {
  transform: translateY(5rem);
}
.flex3 {
  transform: translateY(9rem);
}
.seeall {
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 2rem;
  border: #155bd5 0.2rem solid;
  color: #155bd5;
  background: none;
  font-size: 1.6rem;
  font-weight: 450;
  cursor: pointer;
  transition: all 0.2s;
  background-color: #155bd5;
  color: #ffffff;
}
.seeall:hover {
  background-color: #ffffff;
  color: #155bd5;
}
.see {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* section-blog */
.section-blog {
  padding: 8rem 0;
}
.blog {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}
.blogs-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.blog-content {
  display: flex;
  flex-direction: column;
  border-radius: 1.2rem;
  overflow: hidden;
  border: solid 0.05rem #6a737d70;
  transition: all 0.4s;
  background-color: #ffffff;
}
.blog-content:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 0 1rem rgba(153, 153, 153, 0.241);
}
.blog-image {
  width: 100%;
}
.blog-text {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.kee {
  font-weight: 500;
  font-size: 2.2rem;
  line-height: 1.4;
}
.uidesign {
  font-size: 1.2rem;
  letter-spacing: 0.5px;
  font-weight: 450;
  padding: 0.5rem 1rem;
  color: #5558fc;
  text-transform: uppercase;
  background-color: #dcdcfe;
  transition: 0.3s;
  border-radius: 1.2rem;
  align-self: flex-start;
}
.uidesign:hover {
  background-color: #adadf0;
}
.vs {
  width: 5rem;
}
.hs {
  font-size: 1.7rem;
}
.bt {
  padding: 0.8rem 2rem;
  font-size: 1.8rem;
  align-self: flex-start;
}
.section-blog {
  background-color: #ffffff;
}
/* autor */
.section-author {
  padding: 8rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.author1 {
  width: 80rem;
  border-radius: 1.2rem;
  border: solid 0.05rem #6a737d70;
  padding: 2.5rem;
  z-index: 0;
  background-color: #ffffff;
}
.author2 {
  padding: 2.5rem;
  width: 90rem;
  border-radius: 1.2rem;
  border: solid 0.05rem #6a737d70;
  margin-top: -2rem;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 0 1rem rgba(153, 153, 153, 0.241);
  display: flex;
  flex-direction: column;
  gap: 20rem;
}
.author1,
.authorfirst {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.increament {
  width: 6rem;
  height: 6rem;
  padding: 1.5rem;
}
.lh {
  line-height: 1.6;
}
.image-first {
  display: flex;
  justify-content: space-between;
}
.im1 {
  width: 20rem;
}
footer {
  background-color: #ffffff;
  padding: 8rem 0rem;
  padding-left: 27px;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
.copyright {
  display: flex;
  gap: 67rem;
}
.iconparagraphlh {
  line-height: 1.5;
  font-size: 1.6rem;
}
.footerupper {
  display: grid;
  grid-template-columns: 32fr 25fr 20fr 20fr;
  gap: 2.5rem;
}
.footerlogo {
  border: solid 0.05rem #6a737d70;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  border-radius: 1.2rem;
  height: 25rem;
}
.loko {
  width: 25rem;
}
.emailinput:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem #155bd5;
}
.email1 {
  display: flex;
  justify-content: space-between;
  /* height: 40rem; */
}
footer {
  border: solid 0.05rem #6a737d70;
}
.emailinput {
  border: none;
  /* border: 1px sold #6a737d49; */
  box-shadow: 0 0 0 0.1rem #6a737d;
  border-radius: 1.2rem;
  font-family: inherit;
  background-color: #ffffff;
  width: 29rem;
  margin-right: 1rem;
  padding: 1rem;
}
.emailbutton {
  border-radius: 1.2rem;
  border: none;
  background-color: #155bd5;
  font-size: 1.4rem;
  padding: 1rem 1.7rem;
  color: #ffffff;
  transition: all 0.3s;
  cursor: pointer;
}
.emailbutton:hover {
  background-color: #6a9aed;
}
.logofirst {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}
strong {
  color: #333;
  font-weight: 500;
}
.separation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}
.footer-links:link,
.footer-links:visited {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
  color: #6a737d;
  word-spacing: 0.1rem;
  text-decoration: none;
  transition: all 0.3s;
}
.footer-links:hover,
.footer-links:active {
  color: #444;
}
.logothird {
  position: relative;
}
.hash {
  position: absolute;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  font-weight: 500;
  font-size: 1.3rem;
  color: #5558fc;
  text-transform: uppercase;
  background-color: #dcdcfe;
}
.hash:hover {
  background-color: #6a9aed;
}
.hash1 {
  bottom: 68%;
  right: 44%;
}
.hash2 {
  top: 68%;
  right: 44%;
}
.courses {
  position: relative;
}
.hash2 {
  top: 51%;
  right: 33%;
}
.hash3 {
  position: absolute;
  top: 0%;
  left: 0%;
}
.hash3 {
  position: absolute;
  top: 80%;
  left: 84%;
}
.workshops {
  position: relative;
}
.hash4 {
  position: absolute;
  padding: 0.5rem 1rem;
  border-radius: 1.2rem;
  font-weight: 500;
  font-size: 1.3rem;
  color: #dc3232;
  text-transform: uppercase;
  background-color: #f2e4e4;
  top: 56%;
  left: 71%;
}
/*
background-color: #d3f9d8;
#155bd5
#ffffff
h5 = color: rgba(68, 68, 68, 0.886);
heading = #333
paragraph = #6a737d;
border: solid 0.05rem #6a737d70;
6a737d61
border-radius = 1.2rem , 0.8rem
    SPACINGSYSTEM (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
    FONT SIZE SYSTEM (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
